.bdsharebuttonbox {
    display: inline-block;
}

.bdsharebuttonbox a {
    display: block;
    float: left;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background: url(../images/bdshare.png) no-repeat;
    opacity: .8;
    cursor: pointer;
}

.bdsharebuttonbox a:hover {
    opacity: 1;
}

.bdsharebuttonbox a + a {
    margin-left: 10px;
}

.bdsharebuttonbox a.bds_tsina {
    background-position: 0 0;
}

.bdsharebuttonbox a.bds_weixin {
    background-position: 0 -30px;
}

.bdsharebuttonbox a.bds_qzone {
    background-position: 0 -60px;
}

.bdsharebuttonbox a.bds_sqq {
    background-position: 0 -90px;
}

.bdsharebuttonbox a.bds_renren {
    background-position: 0 -120px;
}

.bdsharebuttonbox a.bds_tqq {
    background-position: 0 -150px;
}

.bdsharebuttonbox a.bds_douban {
    background-position: 0 -180px;
}

.bdsharebuttonbox a.bds_diandian {
    background-position: 0 -210px;
}

.bdsharebuttonbox a.bds_ty {
    background-position: 0 -240px;
}

.bdsharebuttonbox a.bds_copy {
    background-position: 0 -270px;
}

.bdsharebuttonbox a.bds_mail {
    background-position: 0 -300px;
}

.bdsharebuttonbox a.bds_more {
    background-position: 0 -330px;
}
